@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url('../static/font/webfont.ttf'); /* IE9 */
  src: url('../static/font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../static/font/webfont.woff2') format('woff2'),
  url('../static/font/webfont.woff') format('woff'), /* chrome、firefox */
  url('../static/font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../static/font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: "love";
  font-display: swap;
  src: url('../static/font/lovebarlley.ttf'); /* IE9 */
}

//@font-fa